.letras {
    background-color: cadetblue;
    text-align: center;
    border-color: white;
    border: 5em solid cadetblue;
}

.blanco {
    background-color: white;
    padding-bottom: 1%;
    padding-top: 1%;
}

.chat-label {
    background-color: #eceadc;
    text-align: left;
    margin-left: 20em;
    margin-right: 20em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-bottom: 0.5%;
}

.don {
    background-color: #233c42;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-left: 0.5em;
}

.mensajeblanco {
    background-color: white;
    text-align: left;
    margin-left: 2em;
    margin-right: 30em;
    border-radius: 1rem;
}

.mensajeverde {
    background-color: #9ad147;
    text-align: right;
    margin-left: 30em;
    margin-right: 2em;
    border-radius: 1rem;
}

.chat-label2 {
    background-color: #eceadc;
    text-align: left;
    margin-left: 20em;
    margin-right: 20em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-bottom: 0.5%;
}
.pepe {
    background-color: #233c42;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-left: 0.5em;
}
.chat-label3 {
    background-color: #eceadc;
    text-align: left;
    margin-left: 20em;
    margin-right: 20em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-bottom: 0.5%;
}
.mama {
    background-color: #233c42;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-left: 0.5em;
}
.chat-label4 {
    background-color: #eceadc;
    text-align: left;
    margin-left: 20em;
    margin-right: 20em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-bottom: 0.5%;
}
.maria {
    background-color: #233c42;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-left: 0.5em;
}
.letraverde {
    background: white;
    color: #9ad147;
    padding: 0.8em;
}
.letrablanca {
    background: #9ad147;
    color: white;
    padding: 0.8em;
}